* {
    margin: 0;
    padding: 0;
  }

#img1{
      width: 100%;
      height: 95vh;
}
#img2{
      width: 100%;
      height: 95vh;
      display: none;
}
#img3{
      width: 100%;
      height: 95vh;
      display: none;
}
#img4{
    width: 100%;
    height: 95vh;
    display: none;}
.dots{
 /* position: absolute;  */
margin-left: 10vw;
margin-top: -10vh;
}
.dot {
    /* margin: auto; */
    height: 3vh;
    width: 3vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
.dot:hover{
    background-color:rgb(255, 196, 0);
}
nav ul{
    position: absolute;
    float:right;
    margin-left: 40vw;
    margin-top: 10vh;
    
}
li {
    /* text-shadow: 0 0.5px black; */
    display: inline;
    margin-right: 10vh;
}
nav ul li{
  line-height: 20%;
font-weight: bold;
    list-style-type: none;
    font-size: 1.5vw;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:yellow;
    
}
.zippy{
    position: absolute;
    margin-top: 10vh;
    margin-left: 10vh;
    color: white;
    font-size: 3vw;
    font-weight: bold;
}

.heading1{
    position: absolute;
    font-size: 3vw;
    margin-top: 35vh;
    margin-left: 10vw;
    color: white;
    text-shadow: 2px 2px 8px black;

}
.text1{
    position: absolute;
    margin-top: 45vh;
    margin-left: 10vw;
    font-size: 2vw;
    color: white;
    text-shadow: 2px 2px 8px red;    font-weight: bold;
}
.button1{
    position: absolute;
    margin-top: 55vh;
    margin-left: 10vw;
    background-color: purple;
    border: none;
    color: white;
    height: 4vw;
    padding: auto;
    width: 18vw;
    max-width: 14vw;
    text-align: center;
    text-decoration: none;
    box-shadow: black;
    font-weight: bold;
    font-size: 1.5vw;
  }
.button1:hover{
background-color: rgb(255, 196, 0);
color: black;
}
.welcome{
    position: relative;
    margin-top: 30vh;
    text-align: center;
    font-size: 3vw;
}
.zippy-box{
    position: relative;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    margin-left: 20% ;
    margin-right: 20%;
}
.lorem-text1{
    text-align: left;
    float: left;
    font-size: 2vw;
}
.ptext{
   margin-top: 10%;
   margin-left: 10%;
}
.umbrella-box{
    margin-top: 8%;
}
.umbrella{
    float: right;
    height: 40vh;
    width: 40vh;
    min-width: 80%;
}
.box1{
    /* border: red solid; */
    margin-top: 10%;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mini-box1{
    /* border: pink solid; */
    display: flex;
    flex-direction: column;
}
.mini-box1 img{
    height: 80%;
    width: 40%;
    margin-left: 30%;
}
.mini-text-box1{
    margin-top: 10%;
    text-align: center;
    font-size: 2vw;
}
.button2{
    margin-top: 5%;
    background-color: purple;
    border: none;
    color: white;
    height: 4vw;
    padding: auto;
    width: 18vw;
    max-width: 14vw;
    text-align: center;
    text-decoration: none;
    box-shadow: black;
    font-weight: bold;
    font-size: 1vw;
}
.button2:hover{
    background-color: rgb(255, 196, 0);
    color: black;
    }
.welcome1{
    position: relative;
    margin-top: 10vh;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
}
.box2{
    margin-top: 5vh;
    /* border: red solid; */
    display: flex;
    width: 100%;

}
.mini-box2{
    /* border: green solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
}
/* .mini1{
    /* border:yellow solid; 

    
} */
.mini1 img{
    height: 60vh;
    width: 100%;
}
.mini2{
    /* border:orangered solid ;  */
   background-color: #bbb;
   text-align: center;
   border-left:gray solid;
   padding: auto;
}
.mini2 p{
    font-size: 2vw;
}
.mini2 h4{
    margin-top: 5%;
}
.mini2:hover{
    background-color:orange;
}
.video-slider{
    background-color:purple;
    width: 100%;
    height: 70vh;
}

.video-slider{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.video-box{
    margin-top: 10%;
    
}
iframe{
    height: 60%;
    width: 25vw;
    margin-top: 10%;
}
.heading2{
    position: absolute;
    text-align: center;
    margin-top: 2%;
    font-size: 5vh;
    color: white;
    font-weight: bold;
}
.bridge-photo{
    width: 100%;
    height: 65vh;
}
.heading3{
    
    font-size: 7vh;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
   
}
.newsletterbox{
   margin-top: 10%;
   margin-left: 25%;
   height: 9vh;
   font-size: 1vh;
   width: 30vw;

}
.newsbox{
    background-image: url('https://cdn-chhbd.nitrocdn.com/zSDIupDoAYsdfvkXKTWIjAvGHoUUGTIy/assets/static/optimized/rev-5572e8c/wp-content/uploads/dark-wallpaper-49.jpg');
    width: 100%;
    height: 80vh;
    background-size: cover;
}
.button3{
    background-color: purple;
    border: none;
    color: white;
    height: 9.5vh;
    padding: auto;
    width: 18vw;
    max-width: 14vw;
    text-align: center;
    text-decoration: none;
    box-shadow: black;
    font-weight: bold;
    font-size: 2vw;
}
.button3:hover{
    background-color: rgb(255, 196, 0);
    color: black;
    }
.welcome2{
        position: relative;
        margin-top: 10vh;
        text-align: center;
        font-size: 4vw;
        font-weight: bold;
}
.contact-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}
.map{
    width: 60%;
}
.map img{
   /* max-height: 90vh; */
   height: 70vh;
   width: 100%;
}
.contact-form{

background-image: url('https://images.unsplash.com/flagged/photo-1593005510329-8a4035a7238f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
float:right;
width: 100%;
height: 70vh;
}
.welcome3{
    
    margin-top: 5vh;
    margin-left: 10%;
    text-align: left;
    font-size: 4vw;
    font-weight: bold;
}
.form{
    margin-top: 2%;
    margin-left: 10%;
    font-weight: bold;
}
.button4{
    background-color: purple;
    border: none;
    color: white;
    height: 9.5vh;
    padding: auto;
    width: 12vw;
    max-width: 12vw;
    text-align: center;
    text-decoration: none;
    box-shadow: black;
    font-weight: bold;
    font-size: 2vh;
}
.button4:hover{
    background-color: gray;
    color: black;
    }
.form input{
    height: 4vh;
    width: 30vw;
}
.form p{
    line-height: 3vh;
}
.pricing-table-box{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.pricing-table-minibox{
    margin-left: 5%;
}
.gray-text{
    color: gray;
    text-align: center;
    font-size: 2vw;
}
.price-desc{
    text-align: center;
    font-size: 2vw;
}
.plan-title{
    text-align: center;
    font-size: 3vw;
}
.button5{
    background-color: purple;
    border: none;
    color: white;
    height: 5vh;
    
    width: 12vw;
    max-width: 12vw;
   
    text-decoration: none;
    box-shadow: black;
    font-weight: bold;
    font-size: 2vh;
    margin-left: 6vw;
  }
.button5:hover{
    background-color: yellow;
    color: black;
    }
/* blog */
.pricing-table-box1{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 8%;
    margin-bottom: 10%;
}
.pricing-table-minibox1{
    margin-left: 5%;
}
.gray-text1{
    color: gray;
    text-align: center;
    font-size: 2vw;
}
.price-desc1{
    text-align: center;
    font-size: 2vw;
}
.plan-title1{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}
.button6{
    background-color: purple;
    border: none;
    color: white;
    height: 5vh;
     width: 12vw;
    max-width: 12vw;
    text-decoration: none;
    box-shadow: black;
    font-weight: bold;
    font-size: 2vh;
    margin-left: 6vw;
    padding: 0;
  }
.button6:hover{
    background-color: gray;
 }
.zippylife{
    background:rgb(172, 165, 165) ;
    width: 100%;
    height: 80vh; 
    margin-bottom: 10%;
}
.zippy-container{
    display: flex;
    flex-direction:row;
    margin-top:10vh;
    justify-content: center;
}
.mySlides{
   width: 50vw;
   height: 55vh;
  
}
.arrow-right,.arrow-left{
margin-top: 27.5vh;
}
.btn{
    background-color: purple;
    color:yellow;
    width: 2vw;
    height: 4vh;
}
.btn:hover{
    color: black;
    background-color: yellow;
}
.mem-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-around;
    position: relative;
}
.mem img{
    height:30vh;
    max-height: 40vh;
    width: 190px;
}
.contn {
    position: relative;
    width: 50%;
  }
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle {
    transition: all .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .contn:hover .image {
    opacity: 2;
   
  }
  .contn:hover .middle {
    opacity:0.7;
    background-color:rebeccapurple;
    border-radius: 50%;
  }
  .textt {
    background-color:transparent;
    opacity: 1;
    border-radius: 50%;
    height:30vh;
    max-height: 40vh;
    width: 190px;
    
  }
.emp-name{
    text-transform: uppercase;
    text-align: center;
    margin-top: 2%;
    font-size:3vh;
}
.emp-designation{
    text-transform: capitalize;
    text-align: center;
    color: gray;
    margin-top:2%;
    font-size: 3vh;
}
.footer-wrapper{
    margin-top: 5%;
   display: flex;
   justify-content:space-evenly;
}
/* .footer-element{
} */
.f1{
    text-transform: uppercase;
    text-align: center;
    font-size: 2vw;
}
.f2{
    margin-top: 2%;
    color: gray;
    text-align: center;
    font-size: 2vw;
    line-height: 3vw;
}